streamlit
elasticsearch
python-dotenv
openai
autogenstudio
autogen-ext[openai]
autogen-agentchat
chainlit
flask
flask-cors
pytest
indexed_bzip2
indexed_bzip2
mwparserfromhell
fastapi
pydantic
mwxml
requests
beautifulsoup4